/* Base */

body {
    margin: 0;
    background: rgba(161, 0, 0, 0.3);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

}

header {
    max-width: 800px;
    margin: 0 auto;
}

.header-img {
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    font-size: 1.8rem;
    color: #d13c2f; /* rojo destacado */
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Intro */

.intro {
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px; /* <- antes era 24px */
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Main */

main {
    padding: 0 20px 20px 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Secciones */

h2 {
    color: #000000;
    margin-top: 32px;
}

h3 {
    margin-top: 32px;
    color: #000000;
}

ul, ol {
    padding-left: 20px;
}

/* Galería */

.gallery {
    display: flex;
    gap: 12px; /* pequeño espacio entre ellas */
    max-width: 800px;
    margin: 16px auto 0 auto;
    justify-content: flex-start;
}

.gallery img {
    width: auto;
    max-width: calc(50% - 6px); /* 12px gap total / 2 */
    height: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
    .wrapper {
        padding-bottom: 32px;
    }

    main {
        padding: 0 16px 24px 16px;
    }

    header {
        padding: 0 16px;
    }

    header h1 {
        font-size: 1.5rem;
        margin-top: 24px;
        margin-bottom: 8px;
        text-align: center;
    }

    .intro {
        font-size: 1rem;
        padding: 8px;
        margin: 16px 0;
    }

    .gallery {
        flex-direction: column;
        gap: 12px;
        max-width: 100%;
        padding: 0 16px;
    }

    .gallery img {
        max-width: 100%;
        width: 100%;
    }
}
